<div class="leave-comment-form mt-5" id="reply">
    <h4 class="side-title mb-2">Yorum Bırak</h4>
    <p class="mb-4">
        * işaretli alanlar zorunludur. E-mail adresiniz kimseyle paylaşılmayacaktır.
    </p>
    <form method="post" asp-action="AddComment" asp-controller="Comment">

        <div class="form-group">
            <textarea name="CommentContent" class="form-control" placeholder="Yorumunuz *" required=""
                      spellcheck="false"></textarea>
        </div>
        <div class="input-grids row">

            <div class="form-group col-lg-6">
                <input type="text" name="CommentUser" class="form-control" placeholder="Adınız-Soyadınız *"
                       required="">
            </div>
            <div class="form-group col-lg-6">
                <input type="text" name="DestinationId" class="form-control" placeholder="DestinationID *" required="">
            </div>
        </div>

        <div class="submit text-right">
            <button class="btn btn-style btn-primary">Gönder </button>
        </div>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>