<!doctype html>
<html lang="zxx">

<!-- Head Kısmı-->
@await Html.PartialAsync("~/Views/LayoutPartial/_HeadPartial.cshtml");

<body>

<!-- Partiallar yukarıdaki gibi de çağırılabilir aiağıdaki gibi taghelper yardımıyla da

-->
<!-- NAVBAR Kısmı-->
<partial name="/Views/LayoutPartial/_NavbarPartial.cshtml"/>

@RenderBody();

<!-- Footer Kısmı-->

<partial name="/Views/LayoutPartial/_FooterPartial.cshtml"/>

<!-- Script Kısmı-->

<partial name="/Views/LayoutPartial/_ScriptsPartial.cshtml" />


</body>

</html>
